Repository cloudnative-pg/postgres-containers, pull requests merged in 2025-09, with the labels that each got.

#298 fix: increase cosign timeout to 5 minutes
  .github/workflows/bake_targets.yml
Labels: github_actions, size:XS, lgtm

#300 ci: support preview versions in bake.yaml
  .github/workflows/bake.yml
Labels: github_actions, size:XS, lgtm

#306 ci(catalog): improve diff step
  .github/workflows/catalogs.yml
Labels: github_actions, size:XS, lgtm

#278 chore: dismiss the legacy system images pipeline
  .github/generate-strategy.sh
  .github/workflows/build.yml
  .github/workflows/update.yml
  Debian/13/bookworm/.versions.json
  Debian/13/bookworm/Dockerfile
  Debian/13/bookworm/requirements.txt
  Debian/13/bullseye/.versions.json
  Debian/13/bullseye/Dockerfile
  Debian/13/bullseye/requirements.txt
  Debian/14/bookworm/.versions.json
  Debian/14/bookworm/Dockerfile
  Debian/14/bookworm/requirements.txt
  Debian/14/bullseye/.versions.json
  Debian/14/bullseye/Dockerfile
  Debian/14/bullseye/requirements.txt
  Debian/15/bookworm/.versions.json
  Debian/15/bookworm/Dockerfile
  Debian/15/bookworm/requirements.txt
  Debian/15/bullseye/.versions.json
  Debian/15/bullseye/Dockerfile
  Debian/15/bullseye/requirements.txt
  Debian/16/bookworm/.versions.json
  Debian/16/bookworm/Dockerfile
  Debian/16/bookworm/requirements.txt
  Debian/16/bullseye/.versions.json
  Debian/16/bullseye/Dockerfile
  Debian/16/bullseye/requirements.txt
  Debian/17/bookworm/.versions.json
  Debian/17/bookworm/Dockerfile
  Debian/17/bookworm/requirements.txt
  Debian/17/bullseye/.versions.json
  Debian/17/bullseye/Dockerfile
  Debian/17/bullseye/requirements.txt
  Debian/18/bookworm/.versions.json
  Debian/18/bookworm/Dockerfile
  Debian/18/bookworm/requirements.txt
  Debian/18/bullseye/.versions.json
  Debian/18/bullseye/Dockerfile
  Debian/18/bullseye/requirements.txt
  Debian/ClusterImageCatalog.yaml
  Debian/Dockerfile-beta.template
  Debian/Dockerfile.template
  Debian/README.md
  Debian/requirements.in
  Debian/update.sh
  lib/repo_funcs.sh
Labels: github_actions, size:XXL, lgtm

#315 chore(minimal): add LDAP libraries
  BUILD.md
  Dockerfile
Labels: size:XS, lgtm

#321 chore: fix renovate for barman-cloud updates
  docker-bake.hcl
  renovate.json
Labels: dependencies, size:XS, lgtm

#323 feat: add reusable GitHub Action to generate ImageCatalogs
  .github/actions/generate-catalogs/README.md
  .github/actions/generate-catalogs/action.yml
  .github/actions/generate-catalogs/catalogs_generator.py
  .github/workflows/catalogs.yml
Labels: enhancement, python, github_actions, size:L, lgtm

#329 ci: fix snyk security scans in bake_targets.yml
  .github/workflows/bake.yml
  .github/workflows/bake_targets.yml
Labels: github_actions, size:S, lgtm
